<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <!-- 蓝牙信息获取权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- wifi信息获取 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 位置采集 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 5.0以上获取活跃进程-->
    <uses-permission xmlns:tools="http://schemas.android.com/tools"
                     android:name="android.permission.PACKAGE_USAGE_STATS"
                     tools:ignore="ProtectedPermissions"/>
    <!-- 相机权限 -->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-feature android:name="android.hardware.camera" />-->
    <!--<uses-feature android:name="android.hardware.camera.autofocus" />-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--<uses-permission android:name="android.permission.FLASHLIGHT" />-->


    <!-- NFC-->
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.ACTION_NFCSHARING_SETTINGS"/>
    <uses-feature  android:name="android.hardware.nfc"  android:required="true" />
</manifest>